.displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    padding: 32px 24px 36px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0px auto;
}

.info-profile {
    max-width: 100%;
    min-height: 140px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.avatar {
    width: 151px;
    height: 151px;
    margin-left: 12px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    .avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info-user {
    flex: 1;
    padding-left: 28px;
}

.name {
    font-family: sans-serif;

    .nickname {
        font-size: 2.2rem;
        font-weight: 700;
    }

    .fullname {
        padding-left: 12px;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.options {
    display: flex;
    align-items: center;
    padding: 6px 0;

    .btn-advertise {
        text-decoration: unset;
    }

    .btn-setting,
    .btn-share {
        min-width: unset;
        padding: 10px;
        margin-left: 10px;
        font-size: 1.9rem;
    }
}

.share-icon {
    width: 19px;
    height: 19px;
}

.interact {
    font-size: 1.6rem;

    .btn-interact {
        padding-left: unset;
        font-weight: 500;
    }

    .bio {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(22, 24, 35, 0.9);
        line-height: 21px;
        white-space: pre-line;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.options-navbar {

    @extend .displayCenter;

    .active {
        color: var(--black);
        opacity: 1;
    }
}


.btn-option {
    height: 40px;
    padding: 0 11px;
    font-size: 1.8rem;
    font-weight: 600;
    opacity: .6;

    @extend .displayCenter;

    &:hover {
        text-decoration: unset;
    }

    +.btn-option {
        margin-left: unset;
    }
}

.sub-options {
    margin: 2px 0 8px;

    @extend .displayCenter;

    .btn-sub__option {
        min-width: unset;
        height: 32px;
        padding: 6px 10px;
        font-size: 1.4rem;
        font-weight: 500;
        opacity: .6;
        transition: unset;
    }

    .active {
        color: var(--white);
        background-color: rgb(70, 70, 70);
        background-blend-mode: normal;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
        opacity: 1;
    }

    .status {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--black);
        opacity: 1;

        .icon {
            width: 15px;
            height: 15px;
            margin-left: 4px;
            margin-right: unset;
        }
    }
}

.btn-sub__option {
    @extend .displayCenter;

    &:hover {
        text-decoration: unset;
    }

    +.btn-sub__option {
        margin-left: unset;
    }
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;

    @extend .displayCenter;
}

// main content of profile
.content {
    flex: 0 0 auto;
    justify-content: center;
    flex-direction: column;
    min-height: 440px;
    -webkit-box-align: center;
    margin: 0px auto;

    @extend .displayCenter;
}