.wrapper {}

.menu-item {
    display: flex;
    align-items: center;
    margin-left: -5px;
    padding: 8px 8px 8px 0px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color ease-in-out .2s;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

.title {
    padding-left: 10px;
}

.icon {
    display: flex;
}

.active-icon {
    display: none;
}