.displayCenter {
    display: flex;
    justify-content: center;
}

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;
    --search-color: rgba(22, 24, 35, 0.34);

    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    @extend .displayCenter;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

// Action
.actions {
    display: flex;
    align-items: center;

    .action-btn {
        min-width: 50px;
        min-height: 34px;
        padding: 0px 8px;
        line-height: 1.8rem;
        font-size: 2rem;
        color: rgb(22, 24, 35);
    }

}

// user login
.action-btn {
    margin-left: 0 !important;
}

.more-btn {
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 28px;
    background: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    .user-avatar__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
